<footer>
    <div class="created_by">
        <p>created by @acmahaja</p>
    </div>
    <div class="github_footer">
        <img src="/icons/github-gradient.png" alt="">
    </div>
    <div class="sourced_from">
        <div>
            <p class="sourced_from_top">Data Sourced From</p>
            <div class="sourced_from_bottom">
                <p>OUR WORLD</p>
                <p>IN DATA</p>
            </div>
        </div>
    </div>
</footer>