<footer>
    <div class="created_by gradient_text">
        <p>created by @acmahaja</p>
    </div>
    <div class="github_footer ">
        <img src="/icons/github-gradient.png" alt="">
    </div>
    <div class="sourced_from ">
        <img src="/icons/our-world-in-datak.png" alt="">
    </div>
</footer>