<!DOCTYPE html>
<html lang="en" class="has-background-grey-lightend">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Tracker</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <div class="brand-logo hide-on-med-and-down"></div>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><img src="/icons/nav-icon.png" alt="" class="nav_icon"></a>
            <ul class="right hide-on-med-and-down">
                <li class="About gradient_text">About</li>
                <li>
                    <div class="github git_icon">
                        <img src="/icons/github-gradient.png" alt="" srcset="">
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <div>
            <div class="banner">
                <img src="/icons/logo-white.png" alt="">

            </div>
            <ul>
                <li class="About gradient_text center_text">About</li>
                <li class="gradient_text center_text">
                    <div class="view-on-github">
                        <img src="/icons/github-gradient.png" alt="">
                        <p>
                            View on Github
                        </p>

                    </div>
                </li>
            </ul>
        </div>

    </ul>
    <section>
        <div class="global_data ">
            <div class="global_card gradient">
                <div class="header ">
                    <p>Total Cases</p>
                    <img src="/icons/covid-white.png" alt="">
                </div>
                <div class="number">
                    <p id="total_cases">10,000,000</p>
                </div>
            </div>
            <div class="global_card gradient">
                <div class="header">
                    <p>Total Recoveries</p>
                    <img src="/icons/vaccinated-white.png" alt="">
                </div>
                <div class="number">
                    <p id="total_recoveries">10,000,000</p>
                </div>
            </div>
            <div class="global_card">
                <div class="header gradient_text">
                    <p>New Cases</p>
                    <img src="/icons/mask-gradient.png" alt="">
                </div>
                <div class="number gradient_text">
                    <p id="new_cases">10,000,000</p>
                </div>
            </div>
            <div class="global_card">
                <div class="header gradient_text">
                    <p>Active Cases</p>
                    <img src="/icons/active-cases.png" alt="">
                </div>
                <div class="number gradient_text">
                    <p id="acitve_cases">10,000,000</p>
                </div>
            </div>
        </div>
        <div class="country_data">
            <div class="filter"></div>
            <div class="cards">

            </div>
        </div>
    </section>
    <footer>
        <div class="created_by gradient_text">
            <p>created by @acmahaja</p>
        </div>
        <div class="github git_icon github_footer">
            <img src="/icons/github-gradient.png" alt="View on Github">
        </div>
        <div id="sourced_from" class="sourced_from">
            <img src="/icons/data-sourced.png" alt="">
        </div>
    </footer>

    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/text.js"></script>
    <script src="/scripts/script.js"></script>

</body>

</html>