@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
    background-color: #191c29;
    padding: 0;
    margin: 0;
    display: grid;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    width: 90vw;
    height: 100%;
    background: #1f2330;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    height: 65px;
    background-color: #171A26;
    justify-self: baseline;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw;
}

footer * {
    margin: 0 1rem;
}

footer * img {
    height: 35px;
}

.nav_icon {
    height: 20px;
}

nav {
    background-color: #1f2330;
}

.brand-logo {
    height: 100%;
    width: 150px;
    background-image: url(/icons/logo.png);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
}

.git_icon {
    height: 64px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.git_icon img {
    height: 30px;
    width: 30px;
}

.sidenav {
    background-color: #1f2330;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner {
    width: 100%;
    height: 10rem;
    background: linear-gradient(102.87deg, #0199EE 0%, #01E5BB 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner img {
    width: 80%;
}

.center_text {
    text-align: center;
}

.sidenav ul li {
    font-size: 1.5rem;
    height: 75px;
}

.About {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.view-on-github {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 75px;
}

.sidenav ul li img {
    margin-right: 1em;
    height: 30px;
    width: 30px;
}

.gradient {
    background: linear-gradient(95.43deg, #0098EE 0.02%, #00EEB5 196.57%, #00EEB5 196.57%);
}

.shadow {
    box-shadow: 1px 1px 5px 2px rgba(0, 224, 238, 0.08);
}

.gradient_text {
    background: -webkit-linear-gradient(left, #0199EE, #01E5BB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

section {
    height: fit-content;
    min-height: calc(100vh - 68px - 64px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1rem;
}

.global_data {
    width: 95%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.global_card {
    height: 7.5rem;
    width: 20%;
    margin: 0 .5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: .75em;
    color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 2px rgba(0, 224, 238, 0.08);
}

.global_card * {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.global_card .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.global_card .header img {
    width: 28px;
    height: 28px;
}

.global_card .number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    height: 100%;
    font-size: 20px;
    font-size: 2.75vw;
    color: white;
}

.country_data {
    width: 93%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-shadow: 1px 1px 5px 2px rgba(0, 224, 238, 0.08);
    border-radius: 4px;
}

.country_data .filter {
    width: 100%;
    height: 3.5em;
    background: linear-gradient(95.43deg, #0098EE 0.02%, #00EEB5 196.57%, #00EEB5 196.57%);
    margin-bottom: 1em;
    border-radius: 4px 4px 0px 0px;
}

.country_data .cards {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.country-card {
    height: fit-content;
    width: 17em;
    margin: .75em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: .25em;
    color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 2px rgba(0, 224, 238, 0.08);
    background-color: #191C29;
}

.country-card * {
    margin: 0;
    padding: 0;
}

.country-card .title {
    text-align: center;
}

.country-card .total_cases {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: .5em;
}

.total_cases .flag {
    background-image: url(/images/flags/png250px/us.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin: 0 1em 0 0;
}

.total_cases_num .number p {
    font-size: 1em;
}

.total_cases_num .number {
    font-size: 1.75em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.number .covid {
    background-image: url(/icons/covid-gradient.png);
    background-position-y: 0.25%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1em;
    width: 1em;
    margin: 0 0.25em 0 0;
}

.other_stats {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 10px;
    height: 5em;
    width: 100%;
    padding: 0em .25em;
}

.other_stats_num {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.other_stats_num .recovery {
    background-image: url(/icons/recovered-gradient.png);
    background-position-y: 0.25%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1.75em;
    width: 1.75em;
    margin: 0 .25em 0 0;
}

.other_stats_num .recovery {
    background-image: url(/icons/recovered-gradient.png);
    background-position-y: 0.25%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1.5em;
    width: 1.5em;
    margin: 0 0.25em 0 0;
}

.other_stats_num .active {
    background-image: url(/icons/active-cases.png);
    background-position-y: 0.25%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1.5em;
    width: 1.5em;
    margin: 0 0.25em 0 0;
}

.other_stats_num .deaths {
    background-image: url(/icons/coffin-gradient.png);
    background-position-y: 0.25%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1.5em;
    width: 1.5em;
    margin: 0 0.25em 0 0;
}

.other_stats_num .mask {
    background-image: url(/icons/mask-gradient.png);
    background-position-y: 0.25%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1.5em;
    width: 1.5em;
    margin: 0 0.25em 0 0;
}

.other_stats_num .number {
    margin-left: .5em;
}

.other_stats_num .number p:first-child {
    font-size: .6em;
}

.other_stats_num .number p:last-child {
    font-size: 1em;
}

@media only screen and (max-width: 768px) {
    .global_data {
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
        grid-row-gap: 1em;
        grid-column-gap: 1em;
        height: 30vh;
    }
    .global_card {
        height: 100%;
        width: 100%;
    }
}