@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
    background-color: #191c29;
    padding: 0;
    margin: 0;
    display: grid;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    width: 90vw;
    height: 100vh;
    background: #1f2330;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    height: 65px;
    background-color: #191c29;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.created_by {
    text-align: right;
    font-size: 1em;
    width: 45%;
    display: grid;
    align-items: center;
}

.github_footer {
    width: 10%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
}

.sourced_from {
    width: 45%;
    display: grid;
    align-items: center;
}

.sourced_from p {
    margin: 0;
    padding: 0;
}

.sourced_from_top {
    font-size: .75em;
}

.sourced_from_bottom p {
    font-weight: normal;
    text-align: center;
}

footer img {
    height: 30px;
}

.sourced_from img {
    height: 3.5rem;
}

.nav_icon {
    height: 20px;
}

nav {
    background-color: #1f2330;
}

.brand-logo {
    height: 100%;
    width: 150px;
    background-image: url(/icons/logo.png);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
}

.git_icon {
    height: 64px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.git_icon img {
    height: 30px;
    width: 30px;
}

.sidenav {
    background-color: #1f2330;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner {
    width: 100%;
    height: 10rem;
    background: linear-gradient(102.87deg, #0199EE 0%, #01E5BB 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner img {
    width: 80%;
}

.center_text {
    text-align: center;
}

.sidenav ul li {
    font-size: 1.5rem;
    height: 75px;
}

.About {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.view-on-github {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 75px;
}

.sidenav ul li img {
    margin-right: 1em;
    height: 30px;
    width: 30px;
}

section {
    display: grid;
    grid-template-rows: 25vh auto;
    grid-template-columns: 100%;
    justify-items: center;
    height: fit-content;
    height: 100vh;
}

.header_cards {
    /* display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto auto auto auto;
    gap: 20px 20px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0 1em;
}

.header_card {
    width: 14em;
    height: 8em;
    padding: 0.5rem;
    border-radius: 5px;
    background: #191C29;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 30px;
}

.icon {
    height: 24px;
    width: 24px;
}

.header_card * {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.25rem;
    border-radius: 4px;
}

.header_card .title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 1rem;
    font-weight: bold;
}

.header_card .icon {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 25px;
    width: 25px;
    font-weight: bold;
}

.header_card .number {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: right;
    font-size: 2.5rem;
    font-weight: bold;
}

.header_card .date {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: .75rem;
}

.gradient {
    background: linear-gradient(95.43deg, #0098EE 0.02%, #00EEB5 196.57%, #00EEB5 196.57%);
}

.shadow {
    box-shadow: 1px 1px 5px 2px rgba(0, 224, 238, 0.08);
}

.gradient_text {
    background: -webkit-linear-gradient(left, #0199EE, #01E5BB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

@media screen and (max-width: 769px) {
    section {
        width: 100%;
        margin: 1rem 0;
        grid-template-rows: 35vh auto;
    }
    .header_cards {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-gap: 10px 10px;
    }
    .header_card {
        width: 100%;
        height: fit-content;
    }
}